{% if player %}
     <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="vertical-align: top; width: 160px">
                                <table style="margin: 1px;">

                                    <tr>
                                        <td id="playerPersonalInfo">

    <p>Team: <a id="ctl00_cphContent_teamName" href="/team/{{ player.team }}/overview.aspx">{{ team.name }}</a><br /> <br /> Weekly salary: $ {{ player.weekly_salary }}<br />
     </td>
                                    </tr>
                                </table>
                            </td>
    {% if skills %}
                                <td style="width: 320px; height: 120px;">

    <table style="margin: 1px; padding: 0px;">
        <tr style="background: #EFEFEF;">
            <td>
    Jump Shot:
                <a id="ctl00_cphContent_skillTable_sdJumpShot_linkDen" class="{{ skills.jump_shot }}" title="{{ skills.jump_shot }}">{{ skills.jump_shot }}</a>


            </td>
            <td>
                Jump Range:
                <a id="ctl00_cphContent_skillTable_sdJumpRange_linkDen" class="{{ skills.jump_range }}" title="{{ skills.jump_shot }}">{{ skills.jump_range }}</a>


            </td>
        </tr>
        <tr style="background: #EFEFEF;">
            <td>
                Outside Def.:
                <a id="ctl00_cphContent_skillTable_sdperimDef_linkDen" class="{{ skills.outside_def }}" title="{{ skills.outside_def }}">{{ skills.outside_def }}</a>


            </td>
            <td>
                Handling:
                <a id="ctl00_cphContent_skillTable_sdhandling_linkDen" class="{{ skills.handling }}" title="{{ skills.handling }}">{{ skills.handling }}</a>


            </td>
        </tr>
        <tr style="background: #EFEFEF;">
            <td>
                Driving:
                <a id="ctl00_cphContent_skillTable_sddriving_linkDen" class="{{ skills.driving }}" title="{{ skills.driving }}">{{ skills.driving }}</a>


            </td>
            <td>
                Passing:
                <a id="ctl00_cphContent_skillTable_sdpassing_linkDen" class="{{ skills.passing }}" title="{{ skills.passing }}">{{ skills.passing }}</a>


            </td>
        </tr>
        <tr style="background: #EFEFEF;">
            <td>
                Inside Shot:
                <a id="ctl00_cphContent_skillTable_sdinsideShot_linkDen" class="{{ skills.inside_shot }}" title="{{ skills.inside_shot }}">{{ skills.inside_shot }}</a>


            </td>
            <td>
                Inside Def.:
                <a id="ctl00_cphContent_skillTable_sdinsideDef_linkDen" class="{{ skills.inside_def }}" title="{{ skills.inside_def }}">{{ skills.inside_def }}</a>


            </td>
        </tr>
        <tr style="background: #EFEFEF;">
            <td>
                Rebounding:
                <a id="ctl00_cphContent_skillTable_sdrebound_linkDen" class="{{ skills.rebounding }}" title="{{ skills.rebounding }}">{{ skills.rebounding }}</a>


            </td>
            <td>
                Shot Blocking:
                <a id="ctl00_cphContent_skillTable_sdshotBlock_linkDen" class="{{ skills.shot_blocking }}" title="{{ skills.shot_blocking }}">{{ skills.shot_blocking }}</a>


            </td>
        </tr>
        <tr style="background: #EFEFEF;">
            <td>
                Stamina:
                <a id="ctl00_cphContent_skillTable_sdstamina_linkDen" class="{{ skills.stamina }}" title="{{ skills.stamina }}">{{ skills.stamina }}</a>


            </td>
            <td>
                Free Throw:
                <a id="ctl00_cphContent_skillTable_sdfreeThrow_linkDen" class="{{ skills.free_throw }}" title="{{ skills.free_throw }}">{{ skills.free_throw }}</a>


            </td>
        </tr>
        <tr>
            <td style="width: 170px; background: #FFFFFF;">
                &nbsp;</td>
            <td style="width: 170px; background: #FFFFFF;">
                &nbsp;</td>
        </tr>
            <tr id="ctl00_cphContent_skillTable_trExperience" style="background: #EFEFEF;">
        <td>
                Experience:
                <a id="ctl00_cphContent_skillTable_sdexperience_linkDen" class="{{ skills.experience }}" title="{{ skills.experience }}">{{ skills.experience }}</a>


            </td>
        <td>
                TSP: <b>{{ tsp }}</b> ({{ gsp }} + {{ fsp }})
            </td>
    </tr>

    </table>

                                </td>
    {% endif %}

                        </tr>
                    </table>
{% else %}
    <p>Player ID not in the database</p>
{% endif %}
