{% if player %}

<style type="text/css">
    body
    {
        text-align: center;
    }
    table.playerinfo {
        margin: 0 auto;
    }
    table.playerinfo tr {
        font-size: 15px;
    }
    div.playerinfobox {
        margin: auto 25% auto 25%;
        width: 50%;
    }

</style>
<link rel="stylesheet" href="http://www.buzzerbeater.com/CSS/contentbox.css?c=2" type="text/css" />
<link rel="stylesheet" href="http://www.buzzerbeater.com/CSS/layouts.css" type="text/css" />
<div class="playerinfobox">
    <table class='playerinfo' cellpadding="0" cellspacing="0">
        <tr>
            <h2> {{ player.name }} </h2>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 230px">
                <table style="margin: 1px;">
                    <tr>
                        <td id="playerPersonalInfo">
                            <p>
                                <b> {{ player.position }} </b>
                                <br />
                                <br /> Team:
                                <a id="ctl00_cphContent_teamName" href="/team/{{ player.team.id }}/overview.html">{{ team.name }}</a>
                                <br />
                                <br /> Weekly salary: $ {{ player.weekly_salary }}

                                <br />
                                <br /> DMI: {{ player.dmi }}

                                <br />
                                <br /> Age: {{ player.age }}

                                <br />
                                <br /> Height: {{ player.height }}cm

                            </p>
                        </td>
                    </tr>
                </table>
            </td>
            {% if skills %}

            <td style="width: 320px; height: 120px;">
                <table style="margin: 1px; padding: 0px;">
                    <tr style="background: #EFEFEF;">
                        <td>
                            Jump Shot:

                            <a id="ctl00_cphContent_skillTable_sdJumpShot_linkDen" class="lev{{ skills.jump_shot.0 }}" title="{{ skills.jump_shot.0 }}">{{ skills.jump_shot.1 }}</a>
                        </td>
                        <td>
                            Jump Range:

                            <a id="ctl00_cphContent_skillTable_sdJumpRange_linkDen" class="lev{{ skills.jump_range.0 }}" title="{{ skills.jump_range }}">{{ skills.jump_range.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Outside Def.:

                            <a id="ctl00_cphContent_skillTable_sdperimDef_linkDen" class="lev{{ skills.outside_def.0 }}" title="{{ skills.outside_def }}">{{ skills.outside_def.1 }}</a>
                        </td>
                        <td>
                            Handling:

                            <a id="ctl00_cphContent_skillTable_sdhandling_linkDen" class="lev{{ skills.handling.0 }}" title="{{ skills.handling }}">{{ skills.handling.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Driving:

                            <a id="ctl00_cphContent_skillTable_sddriving_linkDen" class="lev{{ skills.driving.0 }}" title="{{ skills.driving }}">{{ skills.driving.1 }}</a>
                        </td>
                        <td>
                            Passing:

                            <a id="ctl00_cphContent_skillTable_sdpassing_linkDen" class="lev{{ skills.passing.0 }}" title="{{ skills.passing }}">{{ skills.passing.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Inside Shot:

                            <a id="ctl00_cphContent_skillTable_sdinsideShot_linkDen" class="lev{{ skills.inside_shot.0 }}" title="{{ skills.inside_shot }}">{{ skills.inside_shot.1 }}</a>
                        </td>
                        <td>
                            Inside Def.:

                            <a id="ctl00_cphContent_skillTable_sdinsideDef_linkDen" class="lev{{ skills.inside_def.0 }}" title="{{ skills.inside_def }}">{{ skills.inside_def.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Rebounding:

                            <a id="ctl00_cphContent_skillTable_sdrebound_linkDen" class="lev{{ skills.rebounding.0 }}" title="{{ skills.rebounding }}">{{ skills.rebounding.1 }}</a>
                        </td>
                        <td>
                            Shot Blocking:

                            <a id="ctl00_cphContent_skillTable_sdshotBlock_linkDen" class="lev{{ skills.shot_blocking.0 }}" title="{{ skills.shot_blocking }}">{{ skills.shot_blocking.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Stamina:

                            <a id="ctl00_cphContent_skillTable_sdstamina_linkDen" class="lev{{ skills.stamina.0 }}" title="{{ skills.stamina }}">{{ skills.stamina.1 }}</a>
                        </td>
                        <td>
                            Free Throw:

                            <a id="ctl00_cphContent_skillTable_sdfreeThrow_linkDen" class="lev{{ skills.free_throw.0 }}" title="{{ skills.free_throw }}">{{ skills.free_throw.1 }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 170px; background: #FFFFFF;">
                            &nbsp;</td>
                        <td style="width: 170px; background: #FFFFFF;">
                            &nbsp;</td>
                    </tr>
                    <tr id="ctl00_cphContent_skillTable_trExperience" style="background: #EFEFEF;">
                        <td>
                            Experience:

                            <a id="ctl00_cphContent_skillTable_sdexperience_linkDen" class="lev{{ skills.experience.0 }}" title="{{ skills.experience }}">{{ skills.experience.1 }}</a>
                        </td>
                        <td>
                            TSP:
                            <b>{{ tsp }}</b> ({{ gsp }} + {{ fsp }})

                        </td>
                    </tr>
                </table>
            </td>
            {% endif %}


        </tr>

    </table>
    <p><b>Transfer estimate</b>: {{ player.transfer_estimate }}</p>
    <div id="playerhistory" class="widebox" style=" ">
        <div class="boxheader" style="border-top-left-radius:4px;border-top-right-radius:4px;padding-left:6px;padding-right:6px; ">
            <div style="float: left">
                Player history for {{ player.name }}
            </div>
            <div style="width: 128px; position: relative; float: right;">
                <select name="ctl00$cphContent$ddlSeasons" onchange="javascript:setTimeout('__doPostBack(\'ctl00$cphContent$ddlSeasons\',\'\')', 0)" id="ctl00_cphContent_ddlSeasons" style="margin-top:-2px">
                    <option selected="selected" value="43">Season 43</option>
                    <option value="42">Season 42</option>
                    <option value="41">Season 41</option>
                    <option value="40">Season 40</option>
                    <option value="39">Season 39</option>
                    <option value="38">Season 38</option>
                    <option value="37">Season 37</option>
                    <option value="36">Season 36</option>
                    <option value="35">Season 35</option>
                    <option value="34">Season 34</option>
                    <option value="33">Season 33</option>
                    <option value="32">Season 32</option>
                    <option value="31">Season 31</option>
                    <option value="30">Season 30</option>
                    <option value="29">Season 29</option>
                    <option value="28">Season 28</option>
                    <option value="27">Season 27</option>
                    <option value="26">Season 26</option>
                    <option value="25">Season 25</option>
                    <option value="24">Season 24</option>
                    <option value="23">Season 23</option>
                    <option value="22">Season 22</option>
                    <option value="21">Season 21</option>
                    <option value="20">Season 20</option>
                    <option value="19">Season 19</option>
                    <option value="18">Season 18</option>
                    <option value="17">Season 17</option>
                    <option value="16">Season 16</option>
                    <option value="15">Season 15</option>
                    <option value="14">Season 14</option>
                    <option value="13">Season 13</option>
                    <option value="12">Season 12</option>
                    <option value="11">Season 11</option>
                    <option value="10">Season 10</option>
                    <option value="9">Season 9</option>
                    <option value="8">Season 8</option>
                    <option value="7">Season 7</option>
                    <option value="6">Season 6</option>
                    <option value="5">Season 5</option>
                    <option value="4">Season 4</option>
                    <option value="3">Season 3</option>
                    <option value="2">Season 2</option>
                    <option value="1">Season 1</option>
                </select>
            </div>
            <div></div>
        </div>
        <div class="boxcontent" style="
 ">
            <a name="playerstats"></a>
            <div>
                <table cellspacing="1" cellpadding="1" border="0" id="ctl00_cphContent_playerStats" style="width:99%;">
                    <tr class="tableHeader">
                        <th scope="col">Game</th>
                        <th scope="col">POS</th>
                        <th scope="col">MIN</th>
                        <th scope="col">FG</th>
                        <th scope="col">3FG</th>
                        <th scope="col">FT</th>
                        <th scope="col">OR</th>
                        <th scope="col">TR</th>
                        <th scope="col">AST</th>
                        <th scope="col">TO</th>
                        <th scope="col">STL</th>
                        <th scope="col">BLK</th>
                        <th scope="col">PF</th>
                        <th scope="col">PTS</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Game Type</th>
                    </tr>
                    {% for match in matches %}
                        <tr>
                            <td align="center">
                                <a id="ctl00_cphContent_playerStats_ctl02_HyperLink1" href="http://www.buzzerbeater.com/match/{{ match.match.id }}/boxscore.aspx">{{ match.match.match_date }}</a>
                            </td>
                            <td align="center">SG</td>
                            <td align="center">{{ match.pg_min }}, {{ match.sg_min }}</td>
                            <td align="center">
                                {{ match.fgm }}-{{ match.fga }}
                            </td>
                            <td align="center">
                                {{ match.tpm }}-{{ match.tpa }}
                            </td>
                            <td align="center">
                                {{ match.ftm }}-{{ match.fta }}
                            </td>
                            <td align="center">0</td>
                            <td align="center">5</td>
                            <td align="center">8</td>
                            <td align="center">3</td>
                            <td align="center">2</td>
                            <td align="center">3</td>
                            <td align="center">2</td>
                            <td align="center">48</td>
                            <td align="center">
                                12.0
                            </td>
                            <td align="center">
                                Scrimmage
                            </td>
                        </tr>
                    {% endfor %}
                        <tr style="background-color:#EEEEEE;">
                            <td align="center">
                                <a id="ctl00_cphContent_playerStats_ctl03_HyperLink1" href="../../match/0/boxscore.aspx"></a>
                            </td>
                            <td align="center">&nbsp;</td>
                            <td align="center">0.0</td>
                            <td align="center">
                                0.000
                            </td>
                            <td align="center">
                                0.000
                            </td>
                            <td align="center">
                                0.000
                            </td>
                            <td align="center">0.0</td>
                            <td align="center">0.0</td>
                            <td align="center">0.0</td>
                            <td align="center">0.0</td>
                            <td align="center">0.0</td>
                            <td align="center">0.0</td>
                            <td align="center">0.0</td>
                            <td align="center">0.0</td>
                            <td align="center">
                                0.0
                            </td>
                            <td align="center">
                                SEASON AVG
                            </td>
                        </tr>
                    <tr>
                        <td align="center">
                            <a id="ctl00_cphContent_playerStats_ctl04_HyperLink1" href="../../match/1/boxscore.aspx"></a>
                        </td>
                        <td align="center">&nbsp;</td>
                        <td align="center">0</td>
                        <td align="center">
                            0-0
                        </td>
                        <td align="center">
                            0-0
                        </td>
                        <td align="center">
                            0-0
                        </td>
                        <td align="center">0</td>
                        <td align="center">0</td>
                        <td align="center">0</td>
                        <td align="center">0</td>
                        <td align="center">0</td>
                        <td align="center">0</td>
                        <td align="center">0</td>
                        <td align="center">0</td>
                        <td align="center"></td>
                        <td align="center">
                            TOTALS
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

{% else %}

<p>Player ID not in the database</p>
{% endif %}
