<!DOCTYPE html>
<html lang="en">
{% if player %}
{% load bbstats_extras %}
<head>
<link rel="stylesheet" href="http://www.buzzerbeater.com/CSS/contentbox.css?c=2" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/rg-1.0.3/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/rg-1.0.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/api/average().js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>
<script type="text/javascript">
	// Declaring variables that will be used multiple times
	var fg_per;

    // Generated data
    var boxscoreStats = [
        {% for stat in stats %}
            [
            
                        '{{ stat.match.boxscore.id }}',
                        'Season {{ stat.match.boxscore.match.season }}',
                        '<a href="http://www.buzzerbeater.com/match/{{ stat.match.boxscore.match_id }}/boxscore.aspx">{{ stat.match.boxscore.match.match_date|date:"y-m-d" }}</a>',
                        '{{ stat.max_minute_key }}',
                        '{{ stat.max_minute_value }}',
                        '{{ stat.match.fgm }}',
                        '{{ stat.match.fga }}',
                        '',
                        '{{ stat.match.tpm }}',
                        '{{ stat.match.tpa }}',
                        '',
                        '{{ stat.match.ftm }}',
                        '{{ stat.match.fta }}',
                        '',
                        '{{ stat.match.oreb }}',
                        '{{ stat.match.reb }}',
                        '{{ stat.match.ast }}',
                        '{{ stat.match.t_o }}',
                        '{{ stat.match.stl }}',
                        '{{ stat.match.blk }}',
                        '{{ stat.match.pf }}',
                        '{{ stat.match.pts }}',
                        '{{ stat.match.rating|none_to_empty }}',
                        '{{ stat.strategies_preps.player_team_off|to_initials }}',
                        '{{ stat.strategies_preps.player_team_def|to_initials }}',
                        //'{{ stat.strategies_preps.player_team_prep_f }}',
                       // '{{ stat.strategies_preps.player_team_prep_p }}',
                        '{{ stat.strategies_preps.opp_team_off|to_initials }}',
                        '{{ stat.strategies_preps.opp_team_def|to_initials }}',
                       // '{{ stat.strategies_preps.opp_team_prep_f }}',
                       // '{{ stat.strategies_preps.opp_team_prep_p }}',
                        '{{ stat.match_type }}',
            ],
        {% endfor %}
    ];

    // DataTables functions
    var percentageColumn = function(row, colA, colB) {
                        var result = 0
                        if (row[colB] > 0) {
                            result = Math.round(((row[colA] / row[colB]) + 0.00001) * 100) / 100
                        }
                        return result
                    };
        
    $(document).ready(function() {
        var groupColumn = 1;


        // Setup - add a text input to each header cell
        /*$('#matchHistory thead th:eq(30)').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="'+title+'" />' );
        } );
    
        $('input[placeholder]').each(function () {
            $(this).attr('size', $(this).attr('placeholder').length);
        });*/
        
            
        var table = $('#matchHistory').DataTable({
          data: boxscoreStats,
          columns: [
            { title: 'match_id' },
            { title: 'Season' },
            { title: 'Date' },
            { title: 'POS' },
            { title: 'MIN' },
            { title: 'FGM' },
            { title: 'FGA' },
            { title: 'FG%' },
            { title: '3GM' },
            { title: '3GA' },
            { title: '3%' },
            { title: 'FTM' },
            { title: 'FTA' },
            { title: 'FT%' },
            { title: 'OR' },
            { title: 'TR' },
            { title: 'AST' },
            { title: 'TO' },
            { title: 'STL' },
            { title: 'BLK' },
            { title: 'PF' },
            { title: 'PTS' },
            { title: 'Rating' },
            { title: 'OFF' },
            { title: 'DEF' },
            { title: 'O_OFF' },
            { title: 'O_DEF' },
            { title: 'Type' },
          ],
            
            
            "columnDefs": [{
                    visible: false,
                    targets: 0
                },
                {
                    visible: false,
                    targets: groupColumn
                },
                {
                    orderable: false,
                    targets: '_all'
                },

                // Let's create calculated columns to determine shot percentages (FG, 3P and FT)
                {
                    render: function(data, type, row) {
                        return percentageColumn(row, 5, 6)
                    },
                    targets: [7]
                },
                {
                    render: function(data, type, row) {
                        return percentageColumn(row, 8, 9)
                    },
                    targets: [10]
                },
                {
                    render: function(data, type, row) {
                        return percentageColumn(row, 11, 12)
                    },
                    targets: [13]
                },
            ],
            "order": [
                [2, 'desc']
            ],
            "displayLength": 100,

            initComplete: function() {
                this.api().columns([23,24,25,26,27]).every(function() {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function() {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function(d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            },

            // Creating the group row, spanning through all columns
            "drawCallback": function(settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;

                api.column(groupColumn, {
                    page: 'current'
                }).data().each(function(group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            },

            // Creating a Totals row
            "footerCallback": function(row, data, start, end, display) {
                var api = this.api(),
                    data;

                // Remove the formatting to get integer data for summation
                var intVal = function(i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };

                // Total over all pages
                var total = function(col) {
                    return api.column(col)
                        .data()
                        .reduce(function(a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                }

                // Total over this page
                var pageTotal = function(col) {
                    return api
                        .column(col, {
                            page: 'current'
                        })
                        .data()
                        .reduce(function(a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                }

                // Update footer
                // TODO make this into a loop pls
                var i;
                var dontAverage = [7, 10, 13]
                var dontTotal = [7, 10, 13, 22]
                for (i = 4; i < 23; i++) {

                    // Filling the averages row with averages for columns that can be averaged
                    if (dontAverage.indexOf(i) == -1) {
                        $(api.column(i).footer()).html(
                            Math.round(((api.table().column(i, {
                                page: 'current'
                            }).data().average()) + 0.00001) * 100) / 100
                        );
                        $('tr:eq(2) td:eq(' + (i - 2) + ')', api.table().footer()).html(
                            Math.round(((total(i) / data.length) + 0.00001) * 100) / 100
                        );
                    }

                    // Filling the totals row with totals for columns that can be totaled
                    if (dontTotal.indexOf(i) == -1) {
                        $('tr:eq(1) td:eq(' + (i - 2) + ')', api.table().footer()).html(
                            pageTotal(i)
                        );
                        $('tr:eq(3) td:eq(' + (i - 2) + ')', api.table().footer()).html(
                            total(i)
                        );
                    }
                }

                // Filling the percentages row with percentages
                var i = 0;
                for (i; i < 3; i++) {
                    var made_cell = $('tr:eq(0) td:eq(' + (dontAverage[i] - 4) + ')', api.table().footer()).html()
                    var made_cell2 = $('tr:eq(2) td:eq(' + (dontAverage[i] - 4) + ')', api.table().footer()).html()
                    var attempt_cell = $('tr:eq(0) td:eq(' + (dontAverage[i] - 3) + ')', api.table().footer()).html()
                    var attempt_cell2 = $('tr:eq(2) td:eq(' + (dontAverage[i] - 3) + ')', api.table().footer()).html()
					var page_percentage = Math.round(((made_cell / attempt_cell) + 0.00001) * 100) / 100
					var total_percentage = Math.round(((made_cell2 / attempt_cell2) + 0.00001) * 100) / 100


                    $('tr:eq(0) td:eq(' + (dontAverage[i] - 2) + ')', api.table().footer()).html(
                        page_percentage                    );
                    $('tr:eq(2) td:eq(' + (dontAverage[i] - 2) + ')', api.table().footer()).html(
                        total_percentage                    );
                }
            }



        });


        // Order by the grouping
        $('#matchHistory tbody').on('click', 'tr.group', function() {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                table.order([groupColumn, 'desc']).draw();
            } else {
                table.order([groupColumn, 'asc']).draw();
            }
        });

    });

	

</script>

<style type="text/css">
    body {
        text-align: center;
        font-family: verdana;
    }

    div.playerinfobox {
        margin: 0 auto;
        width: 50%;
    }

    div.tableDiv {
	margin: 0 auto;
	margin-top: 4%;
	width: 70%;
    }

    div.playerShotTypes {
        margin: 0 auto;
        width: 60%;
    }

    #shotPerf {
        width: 50%;
    }
    div.perfHeader {
	    margin-top:5%;
	    text-align: center;
    }
    #quickOverviewTable {
	    margin: 0 auto;
    }
    table.playerinfo {
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap: normal;
    }
    table.playerinfo tr {
        font-size: 15px;
    }
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
    thead select {
        width: 100%;
        padding: 3px;

        box-sizing: border-box;
    }
</style>
</head>
<body>
{% player_info %}
<div id="quickOverview" class="widebox">
	<div class="perfHeader">
		<h3>Quick overview</h3>
	</div>
	<div class="boxcontent">
		<table id="quickOverviewTable">
		<tr>
			<td><strong>FG%: </strong></br></td>
			<td id="fgPerCell"></td>
		</tr>
		<tr>
			<td><strong>3P%: </strong></br></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Defensive %: </strong></br></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Contests per 36 m: </strong></br></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Fouls per 36 m: </strong></br></td>
			<td></td>
		</tr>
		</table>
	</div>
</div>
<div id="playerhistory" class="widebox">
	<div class="perfHeader">
		<h3>Match history</h3>
	</div>
    <div class="boxcontent">
        <a name="playerstats"></a>
        <div>
            <table id="matchHistory" class="compact stripe cell-border">
                <thead>
                    <tr>
                        <th>match_id</th>
                        <th>Season</th>
                        <th style="width: 150px !important">Date</th>
                        <th>POS</th>
                        <th>MIN</th>
                        <th>FGM</th>
                        <th>FGA</th>
                        <th>FG%</th>
                        <th>3GM</th>
                        <th>3GA</th>
                        <th>3%</th>
                        <th>FTM</th>
                        <th>FTA</th>
                        <th>FT%</th>
                        <th>OR</th>
                        <th>TR</th>
                        <th>AST</th>
                        <th>TO</th>
                        <th>STL</th>
                        <th>BLK</th>
                        <th>PF</th>
                        <th>PTS</th>
                        <th>Rating</th>
                        <th>OFF</th>
                        <th>DEF</th>
                        <th>O_OFF</th>
                        <th>O_DEF</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr style="background-color:#EEEEEE;">
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            SELECTED AVG
                        </td>
                    </tr>
                    <tr>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            SELECTED TOTALS
                        </td>
                    </tr>
                    <tr style="background-color:#EEEEEE;">
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            ALL AVG
                        </td>
                    </tr>
                    <tr>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            ALL TOTALS
                        </td>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
</div>
{% triple_shot_type player.id season match_type 'player_stats' %}
{% double_defense_type player.id season match_type 'player_stats' %}
{% double_pass_type player.id season match_type 'player_stats' %}
{% per36m_stats player.id season match_type 'player_stats' %}
</body>
</html>
                {% else %}

                <p>Player ID not in the database</p>
                {% endif %}
