{% load bbstats_extras %}
<div class="playerinfobox">
    <table class="playerinfo" cellpadding="0" cellspacing="0">
        <tr>
            <h2> {{ player.name }} </h2>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 230px">
                <table style="margin: 1px;">
                    <tr>
                        <td id="playerPersonalInfo">
                            <p>
                                <b> {{ player.position }} </b>
                                <br />
                                <br /> Team:
                                <a id="ctl00_cphContent_teamName" href="{% url 'team_overview' player.team.id %}">{{ player.team.name }}</a>
                                <br />
                                <br /> Weekly salary: $ {{ player.weekly_salary }}
                                <br /> DMI: {{ player.dmi }}
                                <br /> Age: {{ player.age }}
                                <br /> Height: {{ player.height }}cm
                                <br /> Potential: <span class="{{ player.potential|potential_lev }}" title="{{ player.potential }}">{{ player.potential|potential_name }}</span>
                                <br /> Game shape: <span class="lev{{ skills.game_shape.0 }}" title="{{ skills.game_shape.0 }}">{{ skills.game_shape.1 }}</span>
                                <br /> Last update at: {{ player.last_update_at }}
                                <br /> Created at: {{ player.created_at }}
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
            {% if skills %}

            <td style="width: 320px; height: 120px;">
                <table style="margin: 1px; padding: 0px;">
                    <tr style="background: #EFEFEF;">
                        <td>
                            Jump Shot:

                            <a id="ctl00_cphContent_skillTable_sdJumpShot_linkDen" class="lev{{ skills.jump_shot.0 }}" title="{{ skills.jump_shot.0 }}">{{ skills.jump_shot.1 }}</a>
                        </td>
                        <td>
                            Jump Range:

                            <a id="ctl00_cphContent_skillTable_sdJumpRange_linkDen" class="lev{{ skills.jump_range.0 }}" title="{{ skills.jump_range.0 }}">{{ skills.jump_range.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Outside Def.:

                            <a id="ctl00_cphContent_skillTable_sdperimDef_linkDen" class="lev{{ skills.outside_def.0 }}" title="{{ skills.outside_def.0 }}">{{ skills.outside_def.1 }}</a>
                        </td>
                        <td>
                            Handling:

                            <a id="ctl00_cphContent_skillTable_sdhandling_linkDen" class="lev{{ skills.handling.0 }}" title="{{ skills.handling.0 }}">{{ skills.handling.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Driving:

                            <a id="ctl00_cphContent_skillTable_sddriving_linkDen" class="lev{{ skills.driving.0 }}" title="{{ skills.driving.0 }}">{{ skills.driving.1 }}</a>
                        </td>
                        <td>
                            Passing:

                            <a id="ctl00_cphContent_skillTable_sdpassing_linkDen" class="lev{{ skills.passing.0 }}" title="{{ skills.passing.0 }}">{{ skills.passing.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Inside Shot:

                            <a id="ctl00_cphContent_skillTable_sdinsideShot_linkDen" class="lev{{ skills.inside_shot.0 }}" title="{{ skills.inside_shot.0 }}">{{ skills.inside_shot.1 }}</a>
                        </td>
                        <td>
                            Inside Def.:

                            <a id="ctl00_cphContent_skillTable_sdinsideDef_linkDen" class="lev{{ skills.inside_def.0 }}" title="{{ skills.inside_def.0 }}">{{ skills.inside_def.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Rebounding:

                            <a id="ctl00_cphContent_skillTable_sdrebound_linkDen" class="lev{{ skills.rebounding.0 }}" title="{{ skills.rebounding.0 }}">{{ skills.rebounding.1 }}</a>
                        </td>
                        <td>
                            Shot Blocking:

                            <a id="ctl00_cphContent_skillTable_sdshotBlock_linkDen" class="lev{{ skills.shot_blocking.0 }}" title="{{ skills.shot_blocking.0 }}">{{ skills.shot_blocking.1 }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Stamina:

                            <a id="ctl00_cphContent_skillTable_sdstamina_linkDen" class="lev{{ skills.stamina.0 }}" title="{{ skills.stamina.0 }}">{{ skills.stamina.1 }}</a>
                        </td>
                        <td>
                            Free Throw:

                            <a id="ctl00_cphContent_skillTable_sdfreeThrow_linkDen" class="lev{{ skills.free_throw.0 }}" title="{{ skills.free_throw.0 }}">{{ skills.free_throw.1 }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 170px; background: #FFFFFF;">
                            &nbsp;</td>
                        <td style="width: 170px; background: #FFFFFF;">
                            &nbsp;</td>
                    </tr>
                    <tr id="ctl00_cphContent_skillTable_trExperience" style="background: #EFEFEF;">
                        <td>
                            Experience:

                            <a id="ctl00_cphContent_skillTable_sdexperience_linkDen" class="lev{{ skills.experience.0 }}" title="{{ skills.experience.0 }}">{{ skills.experience.1 }}</a>
                        </td>
                        <td>
                            TSP:
                            <b>{{ tsp }}</b> ({{ gsp }} + {{ fsp }})

                        </td>
                    </tr>
                </table>
            </td>
            {% endif %}


        </tr>

    </table>
</div>
<p><b>Transfer estimate</b>: {{ player.transfer_estimate }}</p>
