{% load bbstats_extras %}
<div class="playerinfobox">
    <table class="playerinfo" cellpadding="0" cellspacing="0">
        <tr>
            <h2> {{ player.name }} </h2>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 230px">
                <table style="margin: 1px;">
                    <tr>
                        <td id="playerPersonalInfo">
                            <p>
                                <b> {{ player.position }} </b>
                                <br />
                                <br /> Team:
                                <a id="ctl00_cphContent_teamName" href="{% url 'team_overview' player.team.id %}">{{ player.team.name }}</a>
                                <br />
                                <br /> Weekly salary: $ {{ player.weekly_salary }}
                                <br /> DMI: {{ player.dmi }}
                                <br /> Age: {{ player.age }}
                                <br /> Height: {{ player.height }}cm
                                <br /> Potential: <span class="{{ player.potential|potential_lev }}" title="{{ player.potential }}">{{ player.potential|potential_name }}</span>
                                <br /> Game shape: <span class="lev{{ skills.game_shape.0 }}" title="{{ skills.game_shape.0 }}">{{ skills.game_shape.1 }}</span>
                                <br /> Last update at: {{ player.last_update_at }}
                                <br /> Created at: {{ player.created_at }}
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
            {% if skills %}

            <td style="width: 320px; height: 120px;">
                <table style="margin: 1px; padding: 0px;">
                    <tr style="background: #EFEFEF;">
                        <td>
                            Jump Shot:

                            <a id="ct0_cphContent_skillTable_sdJumpShot_linkDen" class="lev{{ skills.jump_shot }}" title="{{ skills.jump_shot }}">{{ skills.jump_shot|skill_name }}</a>
                        </td>
                        <td>
                            Jump Range:

                            <a id="ct0_cphContent_skillTable_sdJumpRange_linkDen" class="lev{{ skills.jump_range }}" title="{{ skills.jump_range }}">{{ skills.jump_range|skill_name }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Outside Def.:

                            <a id="ct0_cphContent_skillTable_sdperimDef_linkDen" class="lev{{ skills.outside_def }}" title="{{ skills.outside_def }}">{{ skills.outside_def|skill_name }}</a>
                        </td>
                        <td>
                            Handling:

                            <a id="ct0_cphContent_skillTable_sdhandling_linkDen" class="lev{{ skills.handling }}" title="{{ skills.handling }}">{{ skills.handling|skill_name }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Driving:

                            <a id="ct0_cphContent_skillTable_sddriving_linkDen" class="lev{{ skills.driving }}" title="{{ skills.driving }}">{{ skills.driving|skill_name }}</a>
                        </td>
                        <td>
                            Passing:

                            <a id="ct0_cphContent_skillTable_sdpassing_linkDen" class="lev{{ skills.passing }}" title="{{ skills.passing }}">{{ skills.passing|skill_name }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Inside Shot:

                            <a id="ct0_cphContent_skillTable_sdinsideShot_linkDen" class="lev{{ skills.inside_shot }}" title="{{ skills.inside_shot }}">{{ skills.inside_shot|skill_name }}</a>
                        </td>
                        <td>
                            Inside Def.:

                            <a id="ct0_cphContent_skillTable_sdinsideDef_linkDen" class="lev{{ skills.inside_def }}" title="{{ skills.inside_def }}">{{ skills.inside_def|skill_name }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Rebounding:

                            <a id="ct0_cphContent_skillTable_sdrebound_linkDen" class="lev{{ skills.rebounding }}" title="{{ skills.rebounding }}">{{ skills.rebounding|skill_name }}</a>
                        </td>
                        <td>
                            Shot Blocking:

                            <a id="ct0_cphContent_skillTable_sdshotBlock_linkDen" class="lev{{ skills.shot_blocking }}" title="{{ skills.shot_blocking }}">{{ skills.shot_blocking|skill_name }}</a>
                        </td>
                    </tr>
                    <tr style="background: #EFEFEF;">
                        <td>
                            Stamina:

                            <a id="ct0_cphContent_skillTable_sdstamina_linkDen" class="lev{{ skills.stamina }}" title="{{ skills.stamina }}">{{ skills.stamina|skill_name }}</a>
                        </td>
                        <td>
                            Free Throw:

                            <a id="ct0_cphContent_skillTable_sdfreeThrow_linkDen" class="lev{{ skills.free_throw }}" title="{{ skills.free_throw }}">{{ skills.free_throw|skill_name }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:|skill_namepx; background: #FFFFFF;">
                            &nbsp;</td>
                        <td style="width:|skill_namepx; background: #FFFFFF;">
                            &nbsp;</td>
                    </tr>
                    <tr id="ct0_cphContent_skillTable_trExperience" style="background: #EFEFEF;">
                        <td>
                            Experience:

                            <a id="ct0_cphContent_skillTable_sdexperience_linkDen" class="lev{{ skills.experience }}" title="{{ skills.experience }}">{{ skills.experience|skill_name }}</a>
                        </td>
                        <td>
                            TSP:
                            <b>{{ tsp }}</b> ({{ gsp }} + {{ fsp }})

                        </td>
                    </tr>
                </table>
            </td>
            {% endif %}


        </tr>

    </table>
</div>
<p><b>Transfer estimate</b>: {{ player.transfer_estimate }}</p>
