<!DOCTYPE html>
<html lang="en">
{% if team %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://www.buzzerbeater.com/CSS/contentbox.css?c=2" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/rg-1.0.3/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/rg-1.0.3/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/api/average().js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>
    <script>
        var teamPlayersData = [
            {% for player in players_skills %}
                ['<a href="/bbstats/player/{{ player.info.id }}/">{{ player.info.name }}</a>',
                 '{{ player.info.age }}',
                 '${{ player.info.weekly_salary }}',
                 '{{ player.info.dmi }}',
                 '<span class="{{ player.potential.lev}}"> {{ player.potential.value }} </span>',
                 '<span class="lev{{ player.skills.game_shape.0 }}">   {{ player.skills.game_shape.0 }} </span>',
                 '<span class="lev{{ player.skills.jump_shot.0 }}">    {{ player.skills.jump_shot.0 }} </span>',
                 '<span class="lev{{ player.skills.jump_range.0 }}">   {{ player.skills.jump_range.0 }} </span>',
		 '<span class="lev{{ player.skills.outside_def.0 }}">  {{ player.skills.outside_def.0 }} </span>',
                 '<span class="lev{{ player.skills.handling.0 }}">     {{ player.skills.handling.0 }} </span>',
                 '<span class="lev{{ player.skills.driving.0 }}">      {{ player.skills.driving.0 }} </span>',
                 '<span class="lev{{ player.skills.passing.0 }}">      {{ player.skills.passing.0 }} </span>',
		 '<span class="lev{{ player.skills.inside_shot.0 }}">  {{ player.skills.inside_shot.0 }} </span>',
                 '<span class="lev{{ player.skills.inside_def.0 }}">   {{ player.skills.inside_def.0 }} </span>',
                 '<span class="lev{{ player.skills.rebounding.0 }}">   {{ player.skills.rebounding.0 }} </span>',
		 '<span class="lev{{ player.skills.shot_blocking.0 }}">{{ player.skills.shot_blocking.0 }} </span>',
                 '<span class="lev{{ player.skills.stamina.0 }}">      {{ player.skills.stamina.0 }} </span>',
                 '<span class="lev{{ player.skills.free_throw.0 }}">   {{ player.skills.free_throw.0 }} </span>',
                 '<span class="lev{{ player.skills.experience.0 }}">   {{ player.skills.experience.0 }} </span>'
                ],
            {% endfor %}
        ];
    var scheduleData = [
        {% for match in schedule %}
        [
            '{{ match.0.match_date|date:"y-m-d" }}',
            {% if match.0.home_team_id ==  team.id %}
            '{{ match.1.home_off_strategy }}',
            '{{ match.1.home_def_strategy }}',
            '{{ match.1.home_prep_focus_matched }}',
            '{{ match.1.home_prep_pace_matched }}',
            '',
            '{{ match.0.away_team.name }}',
            '{{ match.1.away_off_strategy }}',
            '{{ match.1.away_def_strategy }}',
            '{{ match.1.away_prep_focus_matched }}',
            '{{ match.1.away_prep_pace_matched }}',            
            {% else %}
            '{{ match.1.away_off_strategy }}',
            '{{ match.1.away_def_strategy }}',
            '{{ match.1.away_prep_focus_matched }}',
            '{{ match.1.away_prep_pace_matched }}',
            '',
            '{{ match.0.home_team.name }}',
            '{{ match.1.home_off_strategy }}',
            '{{ match.1.home_def_strategy }}',
            '{{ match.1.home_prep_focus_matched }}',
            '{{ match.1.home_prep_pace_matched }}',   
            {% endif %}
            '{{ match.1.match_type }}',
        ],
        {% endfor %}
    ];
        
        $(document).ready(function() {
            $('#teamPlayers').DataTable( {
                data: teamPlayersData,   
                columns: [
                    { title: 'Name', width:'8%'},
                    { title: 'Age'},
                    { title: 'Salary'},
                    { title: 'DMI'},
                    { title: 'Pot'},
                    { title: 'GS'},
                    { title: 'JS'},
                    { title: 'JR'},
                    { title: 'OD'},
                    { title: 'Ha'},
                    { title: 'Dr'},
                    { title: 'Pa'},
                    { title: 'IS'},
                    { title: 'ID'},
                    { title: 'Re'},
                    { title: 'BS'},
                    { title: 'St'},
                    { title: 'FT'},
                    { title: 'Ex'},
                ],
                displayLength: 30,
            }               
            );
            
        });
        
        $(document).ready(function() {
            $('#schedule').DataTable( {
                data: scheduleData,     
                columns: [
                    { title: 'Date'},
                    { title: 'Off.'},
                    { title: 'Def.'},
                    { title: 'Focus'},
                    { title: 'Pace'},
                    { title: 'Result'},
                    { title: 'Team 2'},
                    { title: 'Off'},
                    { title: 'Def'},
                    { title: 'Focus'},
                    { title: 'Pace'},
                    { title: 'Type'},
                ],
                displayLength: 100,
            }               
            );
            
        });

    </script>
    <style>
        .teamInfo {
            margin: 0 auto;
            text-align: center;
        }
        .tableDiv {
            margin: 0 auto;
            margin-top: 4%;
            width: 60%;
        }
        .teamPlayersDiv {
            
        }
        .scheduleDiv {
            
        }
        .teamPlayersDiv table{
            table-layout: fixed;
            width: 100%;
            text-align: center;
        }

    </style>
    <title>{{ team.name }}</title>
</head>
<body>
    <div class="teamInfo">
        <h1>{{ team.name }}</h1>
        <h3>ID: {{ team.id }}</h3>
    </div>
    <div class="tableDiv teamPlayersDiv">
        <table id="teamPlayers" class="display stripe">            
        </table>
    </div>
    <div class="tableDiv scheduleDiv">
        <table id="schedule" class="display stripe">            
        </table>
    </div>
</body>
{% endif %}

</html>
